<!-- <!DOCTYPE html>
<html>
<head>
    <title>Search Stock</title>
</head>
<body>
    <h1>Search Stock</h1>
    <form method="post" action="/">
        <label for="stock_name">Stock name:</label>
        <input type="text" name="stock_name" id="stock_name" required>
        <button type="submit">Search</button>
    </form>
</body>
</html> -->


<!DOCTYPE html>
<html>
  <head>
    <title>Nhập tên bitcoin</title>
  </head>
  <body>
    <h1>Search Stock</h1>
    <form action="/" method="post">
      <label for="bitcoin_name">Nhập tên bitcoin:</label>
      <input type="text" id="bitcoin_name" name="bitcoin_name">
      <br><br>
      <input type="submit" value="Tìm kiếm">
    </form>
  </body>
</html>


